@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

*{

}

/* header */

.head-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #782221;
}

.img-profil {
  border-radius: 50%;
  height: 15%;
  width: 15%;
  margin-top: 5%;
  margin-bottom: 2%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 1px 2px 15px 15px rgba(255, 255, 255, 0.258);
}

h1 {
  margin: 2px 2px 5px 2px;
  color: white;
  font-family: "Raleway";
  font-weight: 400;
}

h2 {
  margin: 5px 2px 25px 2px;
  color: white;
  font-family: "Raleway";
  font-weight: 500;
}

/* barre de contact */

.navbar {
  background-color: #2c1d27;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 35px 5px 35px
}

.navbar a {
   color: white;
  font-family: "Raleway"; 
  text-decoration: none;
}

/* Corps du CV */

.left {
  display: flex;
  background-color: #782221;
  align-items:stretch;
  flex-direction: column;
  height:100%;
  width: 25%;
}

.left section {
    color: white;
    font-family: "Lato";
    text-align: left;
}

.left h3 {
  font-family: Raleway;
  background-color: #dbc2a4;
  color: black;
  width: 85%;
}

.left p {
    text-align: justify;
    text-indent: 25px;
    margin: 15px;
    margin-right: 45px;
}

/* informations professionnelles */

.right {
  display: flex;
  text-align: left;
  background-color: white;
  color: black;
  font-family: "Lato";
  align-self: stretch;
  flex-direction: column;
  height: auto;
  width: auto;
  margin-left: 28%;
  margin-right: auto;
  margin-top: -40%;
  margin-bottom: 20%;
}


.right h3 {
    font-family: Raleway;
    background-color: #dbc2a4;
    color: black;
    width: 85%; 
  }

/* pied de page */

.foot-box {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-content: end;
  justify-content: center;
  background-color: #782221;
}

img {
  height: 40px;
  width: 40px;
  margin: 5px;
}

/* mini modif */
